.colora{
    color: #3AFCD9;
}

.colorb{
    color: #FFF1B0;
}

.colorc{
    color: #82E8AE;
}

.colord{
    color: #FF4066;
}

.colore{
    color: #FFF;
}

#logo{
    border: 0px;
    box-shadow: 0px 0px 0px;
    background: none;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 70px;
    height: auto;
}

#title{
    font-size: 12em;
    margin-bottom: 0px;
    color: #3AFCD9;
}

#subtitle{
    font-size: 5em;
    margin-top: -50px;
    color: #FFF1B0;
}

#fancy{
    font-size: 6em;
    margin-top: -50px;
    color: #FFF1B0;
}
